.rodape{
    background-color: var(--preto);
    justify-content: center;
    padding: 1em;
    width: 100%;
    display: flex;
}

.rodape h2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--branco);
}